<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/static/images/favicon.ico">
  <link rel="stylesheet" href="/static/css/bulma.min.css">
  <link rel="stylesheet" href="/static/css/base.css">
  <title>商品销售数据分析方法研究与应用</title>
</head>
<body>
  <header>
    <nav class="navbar is-light is-transparent" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="/static/images/shop.png" alt="shop">
          <span class="ml-2">商品销售数据分析方法研究与应用</span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item has-text-primary-dark" id="page_title"></a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/phone/sales">手机品类分析项目</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/phone/sales" id="phone_url">手机销量总览</a>
              <a class="navbar-item" href="/phone/os_and_brand_per" id="phone_os_and_brand_per_url">手机操作系统与品牌的市场份额</a>
              <a class="navbar-item" href="/phone/price_and_sales" id="phone_price_and_sales_url">手机价位段与销量</a>
              <a class="navbar-item" href="/phone/brand_sales_star" id="phone_brand_sales_star_url">头部手机品牌线上销量明星</a>
              <a class="navbar-item" href="/phone/brand_per" id="phone_brand_per_url">头部手机品牌中主品牌与子品牌销量占比</a>
              <a class="navbar-item" href="/phone/soc/sales" id="phone_soc_sales_url">手机SoC销量总览</a>
              <a class="navbar-item" href="/phone/soc/mfrs_and_brand_per" id="phone_soc_mfrs_and_brand_per_url">
                <span>SoC制造商市场份额与销往不同手机品牌的比例</span>
              </a>
              <a class="navbar-item" href="/phone/soc/mfrs_sales_star" id="phone_soc_mfrs_sales_star_url">手机SoC制造商销量明星</a>
              <a class="navbar-item" href="/phone/mi10/sales" id="mi10_sales_url">小米10销售数据</a>
              <a class="navbar-item" href="/phone/mi10/comment/summary" id="mi10_comment_summary_url">小米10评论数据</a>
              <a class="navbar-item" href="/phone/mi10/comment/wordcloud" id="mi10_comment_wordcloud_url">小米10评论词云</a>
            </div>
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/wh/sales">无线耳机品类分析项目</a>
            <div class="navbar-dropdown has-text-right">
              <a class="navbar-item" href="/wh/sales" id="wh_sales_url">无线耳机销量总览</a>
              <a class="navbar-item" href="/wh/brand_and_price" id="wh_brand_and_price_url">无线耳机品牌份额与价位段分布</a>
              <a class="navbar-item" href="/wh/brand_sales_star" id="wh_brand_sales_star_url">头部无线耳机品牌线上销量明星</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>
  {% block main %}
  {% endblock %}
  </main>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <span>&copy;2021&nbsp;&nbsp;&nbsp;毕业设计-商品销售数据分析方法研究与应用</span>
        <span class="mx-6"></span>
        <span>计科11704&nbsp;&nbsp;&nbsp;周淦清&nbsp;&nbsp;&nbsp;201703407</span>
      </p>
    </div>
  </footer>

  <script src="/static/js/echarts.min.js"></script>
  {% block js %}
  {% endblock %}
</body>
</html>