{% extends "base.html" %}
{% block main %}
<div class="columns is-multiline">
  <div class="column is-half" id="test" style="height: 400px;"></div>
</div>
{% endblock %}

{% block js %}
<script>
let chart = echarts.init(document.getElementById("test"));
let option = {
  title: {
    text: 'ECharts 入门示例'
  },
  tooltip: {},
  legend: {
    data: ['销量']
  },
  xAxis: {
    data: ["衬衫", "羊毛衫", "雪纺衫", "裤子", "高跟鞋", "袜子"]
  },
  yAxis: {},
  series: [{
    name: '销量',
    type: 'bar',
    data: [5, 20, 36, 10, 10, 20]
  }]
};
chart.setOption(option);
</script>
{% endblock %}