{% extends "base.html" %}
{% block main %}
<div class="columns is-multiline">
  <div class="column is-half uniform-height" >
    <div class="card is-shadowless">
      <header class="card-header is-shadowless">
        <p class="card-header-title">
          <img class="image is-32x32" src="/static/images/mi_logo.png" alt="mi_logo">
          <span>&nbsp;&nbsp;小米10</span>
        </p>
        <p class="card-header-icon">
          <span>于2020年2月13号发布, 小米宣布冲击高端手机市场</span>
        </p>
      </header>
      <div class="card-image">
        <div class="columns">
          <div class="column is-half">
            <img src="/static/images/mi10_1.jpg" alt="mi10_1">
          </div>
          <div class="column is-half">
            <img src="/static/images/mi10_2.jpg" alt="mi10_2">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-half uniform-height" id="total" ></div>
  <div class="column is-full uniform-height" id="model_count"></div>
  <div class="column is-half uniform-height" id="color_count"></div>
  <div class="column is-half uniform-height" id="ram_count"></div>
  <div class="column is-half uniform-height" id="rom_count"></div>
  <div class="column is-half uniform-height" id="user_activity"></div>
  <div class="column is-full uniform-height" id="comment_date_count"></div>
  <div class="column is-full uniform-height" id="order_date_count"></div>
  <div class="column is-full uniform-height" id="order_days_count"></div>
  <div class="column is-full uniform-height" id="after_days_count"></div>
  <div class="column is-half uniform-height" id="user_device_count"></div>
  <div class="column is-half uniform-height" id="ios_comments_wordcloud">
    <div class="card is-shadowless">
      <header class="card-header is-shadowless">
        <p class="card-header-title">iOS 转化用户的评论词云</p>
      </header>
      <div class="card-image pl-2 pr-4">
        <figure class="image is-5by3">
          <img src="/static/images/mi10_ios_comments_wordcloud.png" alt="mi10_ios_comments_wordcloud">
        </figure>
      </div>
    </div>
  </div>
  <div class="column is-full" id="all_comments_wordcloud">
    <div class="card is-shadowless">
      <header class="card-header is-shadowless">
        <p class="card-header-title">全部评论的词云</p>
      </header>
      <div class="card-image px-4">
        <figure class="image is-3by1">
          <img src="/static/images/mi10_all_comments_wordcloud.png" alt="mi10_all_comments_wordcloud">
        </figure>
      </div>
    </div>
  </div>
  <div class="column is-half" id="after_comments_wordcloud">
    <div class="card is-shadowless">
      <header class="card-header is-shadowless">
        <p class="card-header-title">追加评论的词云</p>
      </header>
      <div class="card-image pl-4 pr-2">
        <figure class="image is-5by3">
          <img src="/static/images/mi10_after_comments_wordcloud.png" alt="mi10_after_comments_wordcloud">
        </figure>
      </div>
    </div>
  </div>
  <div class="column is-half" id="non_five_star_comments_wordcloud">
    <div class="card is-shadowless">
      <header class="card-header is-shadowless">
        <p class="card-header-title">5星以下评论的词云</p>
      </header>
      <div class="card-image pl-2 pr-4">
        <figure class="image is-5by3">
          <img src="/static/images/mi10_non_five_star_comments_wordcloud.png" alt="mi10_non_five_star_comments_wordcloud">
        </figure>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
document.getElementById("mi10_url").classList.add("is-active");
document.getElementById("page_title").innerText = "小米10";
</script>

<script>
// 数据源总览多Y轴柱状图
let total_dom = document.getElementById("total");
let total_chart = echarts.init(total_dom);
let total_option = {
  title: {
    text: "电商数据源总览"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {
      type: "cross"
    }
  },
  grid: {
    right: "20%"
  },
  legend: {
    data: ["销量(基于评论总数)", "好评率"]
  },
  xAxis: [
    {
      type: "category",
      axisPointer: {
        type: "shadow"
      },
      data: {{ total_source | tojson }}
    }
  ],
  yAxis: [
    {
      type: "value",
      name: "销量(基于评论总数)",
      position: "left",
      axisLine: {
        show: true,
        lineStyle: {
          color: "#5470C6"
        }
      },
      axisLabel: {
        formatter: "{value} 万部"
      }
    },
    {
      type: "value",
      name: "好评率",
      min: 0,
      max: 100,
      position: "right",
      offset: 40,
      axisLine: {
        show: true,
        lineStyle: {
          color: "#91CC75"
        }
      },
      axisLabel: {
        formatter: "{value} %"
      }
    },
  ],
  series: [
    {
      name: "销量(基于评论总数)",
      type: "bar",
      data: {{ total_count | tojson }}
    },
    {
      name: "好评率",
      type: "bar",
      yAxisIndex: 1,
      data: {{ total_good_rate | tojson }}
    }
  ]
};
total_chart.setOption(total_option);
</script>

<script>
// 各型号数据总览多Y轴柱状图
let model_count_dom = document.getElementById("model_count");
let model_count_chart = echarts.init(model_count_dom);
let model_count_option = {
  title: {
    text: "各型号数据总览",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {
      type: "cross"
    }
  },
  grid: {
    left: "5%",
    right: "10%"
  },
  legend: {
    data: ["百分比", "好评率"]
  },
  xAxis: [
    {
      type: "category",
      axisPointer: {
        type: "shadow"
      },
      data: {{ mc_name | tojson }}
    }
  ],
  yAxis: [
    {
      type: "value",
      name: "百分比",
      position: "left",
      axisLine: {
        show: true,
        lineStyle: {
          color: "#5470C6"
        }
      },
      axisLabel: {
        formatter: "{value} %"
      }
    },
    {
      type: "value",
      name: "好评率",
      min: 0,
      max: 100,
      position: "right",
      offset: 40,
      axisLine: {
        show: true,
        lineStyle: {
          color: "#91CC75"
        }
      },
      axisLabel: {
        formatter: "{value} %"
      }
    },
  ],
  series: [
    {
      name: "百分比",
      type: "bar",
      data: {{ mc_per | tojson }}
    },
    {
      name: "好评率",
      type: "bar",
      yAxisIndex: 1,
      data: {{ mc_good_rate | tojson }}
    }
  ]
};
model_count_chart.setOption(model_count_option);
</script>

<script>
// 机身颜色百分比饼图
let color_count_dom = document.getElementById("color_count");
let color_count_chart = echarts.init(color_count_dom);
let color_count_option = {
  title: {
    text: "不同机身颜色占总销量的百分比",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "机身颜色",
      type: "pie",
      radius: "50%",
      data: {{ color_count | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
color_count_chart.setOption(color_count_option);
</script>

<script>
// 内存容量百分比饼图
let ram_count_dom = document.getElementById("ram_count");
let ram_count_chart = echarts.init(ram_count_dom);
let ram_count_option = {
  title: {
    text: "不同内存(RAM)容量占总销量的百分比",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "内存容量",
      type: "pie",
      radius: "50%",
      data: {{ ram_count | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
ram_count_chart.setOption(ram_count_option);
</script>

<script>
// 储存容量百分比饼图
let rom_count_dom = document.getElementById("rom_count");
let rom_count_chart = echarts.init(rom_count_dom);
let rom_count_option = {
  title: {
    text: "不同储存(ROM)容量占总销量的百分比",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "储存容量",
      type: "pie",
      radius: "50%",
      data: {{ rom_count | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
rom_count_chart.setOption(rom_count_option);
</script>

<script>
// 有内容评论和默认好评百分比多Y轴柱状图
let user_activity_dom = document.getElementById("user_activity");
let user_activity_chart = echarts.init(user_activity_dom);
let user_activity_option = {
  title: {
    text: "有内容评论和默认好评数量占比"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {
      type: "cross"
    }
  },
  grid: {
    right: "20%"
  },
  legend: {
    data: ["有内容评论百分比", "默认好评百分比"]
  },
  xAxis: [
    {
      type: "category",
      axisPointer: {
        type: "shadow"
      },
      data: {{ ua_source | tojson }}
    }
  ],
  yAxis: [
    {
      type: "value",
      name: "有内容评论百分比",
      min: 0,
      max: 100,
      position: "left",
      axisLine: {
        show: true,
        lineStyle: {
          color: "#5470C6"
        }
      },
      axisLabel: {
        formatter: "{value} %"
      }
    },
    {
      type: "value",
      name: "默认好评百分比",
      min: 0,
      max: 100,
      position: "right",
      offset: 40,
      axisLine: {
        show: true,
        lineStyle: {
          color: "#91CC75"
        }
      },
      axisLabel: {
        formatter: "{value} %"
      }
    },
  ],
  series: [
    {
      name: "有内容评论百分比",
      type: "bar",
      data: {{ ua_ap | tojson }}
    },
    {
      name: "默认好评百分比",
      type: "bar",
      yAxisIndex: 1,
      data: {{ ua_iap | tojson }}
    }
  ]
};
user_activity_chart.setOption(user_activity_option);
</script>

<script>
// 用户评论时间分布柱状图
let cdc_dom = document.getElementById("comment_date_count");
let cdc_chart = echarts.init(cdc_dom);
let cdc_option = {
  title: {
    text: "用户评论时间分布",
    left: "5%"
  },
  tooltip: {
   trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  legend: {
    data: ["百分比", "百分比"]
  },
  xAxis: [
    {
      type: "category",
      data: {{ cdc_ym | tojson }},
      axisPointer: {
        type: "shadow"
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      name: "百分比",
      axisLabel: {
        formatter: "{value} %"
      }
    },

  ],
  series: [
    {
      name: "百分比",
      type: "bar",
      data: {{ cdc_per | tojson }}
    }
  ]
};
cdc_chart.setOption(cdc_option);
</script>

<script>
// 用户下单时间分布柱状图
let odc_dom = document.getElementById("order_date_count");
let odc_chart = echarts.init(odc_dom);
let odc_option = {
  title: {
    text: "用户下单时间分布",
    subtext: "(仅京东平台数据)",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  legend: {
    data: ["百分比", "百分比"]
  },
  xAxis: [
    {
      type: "category",
      data: {{ odc_ym | tojson }},
      axisPointer: {
        type: "shadow"
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} %"
      }
    },

  ],
  series: [
    {
      name: "百分比",
      type: "bar",
      data: {{ odc_per | tojson }}
    }
  ]
};
odc_chart.setOption(odc_option);
</script>

<script>
// 从下单到评论的间隔时间分布柱状图
let odsc_dom = document.getElementById("order_days_count");
let odsc_chart = echarts.init(odsc_dom);
let odsc_option = {
  title: {
    text: "从下单到评论的时间间隔分布",
    subtext: "(仅京东平台数据)",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ odsc_days | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        formatter: "{value}天"
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} %"
      }
    }
  ],
  series: [
    {
      name: "百分比",
      type: "bar",
      data: {{ odsc_per | tojson }}
    }
  ]
};
odsc_chart.setOption(odsc_option);
</script>

<script>
// 追评间隔时间分布柱状图
let adc_dom = document.getElementById("after_days_count");
let adc_chart = echarts.init(adc_dom);
let adc_option = {
  title: {
    text: "追评时间间隔分布",
    subtext: "(京东+苏宁数据)",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ adc_days | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        formatter: "{value}天"
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} %"
      }
    }
  ],
  series: [
    {
      name: "百分比",
      type: "bar",
      data: {{ adc_per | tojson }}
    }
  ]
};
adc_chart.setOption(adc_option);
</script>

<script>
// 用户设备类型统计饼图
let udc_dom = document.getElementById("user_device_count");
let udc_chart = echarts.init(udc_dom);
let udc_option = {
  title: {
    text: "用户设备类型统计",
    subtext: "(京东+苏宁数据)",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "评论数量占比",
      type: "pie",
      radius: "50%",
      data: {{ udc_per | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
udc_chart.setOption(udc_option);
</script>
{% endblock %}