{% extends "base.html" %}
{% block main %}
<div class="columns is-multiline">
  <div class="column is-half uniform-height" id="total">
    <div class="card is-shadowless">
      <header class="card-header is-shadowless">
        <p class="card-header-title">
          <span>手机销售数据总览</span>
        </p>
        <p class="card-header-icon">
          <span>数据来自京东和苏宁</span>
        </p>
      </header>
      <div class="card-content">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>项目</th>
              <th>数量</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>总销量</td>
              <td>{{ total_tc }} 万台</td>
            </tr>
            <tr>
              <td>商品数量</td>
              <td>{{ total.commodity_count }} 件</td>
            </tr>
            <tr>
              <td>品牌数量</td>
              <td>{{ total.brand_count }} 个</td>
            </tr>
            <tr>
              <td>机型数量</td>
              <td>{{ total.model_count }} 种</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="column is-half uniform-height" id="platform"></div>
  <div class="column is-full more-height" id="phone"></div>

  <div class="column is-half uniform-height" id="ppas_sp"></div>
  <div class="column is-half uniform-height" id="ppas_fp"></div>
  <div class="column is-half uniform-height" id="ppab_b2k"></div>
  <div class="column is-half uniform-height" id="ppab_2kto5k"></div>
  <div class="column is-half uniform-height" id="ppab_a5k"></div>
  <div class="column is-half uniform-height" id="phone_size">
    <div class="card is-shadowless">
      <header class="card-header is-shadowless">
        <p class="card-header-title">
          <span>智能手机各项尺寸参数的平均数和中位数</span>
        </p>
      </header>
      <div class="card-content">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>参数</th>
              <th>平均数</th>
              <th>中位数</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>屏幕尺寸</td>
              <td>{{ phone_size.screen_size_avg }} 英寸</td>
              <td>{{ phone_size.screen_size_med }} 英寸</td>
            </tr>
            <tr>
              <td>机身宽度</td>
              <td>{{ phone_size.width_avg }} mm</td>
              <td>{{ phone_size.width_med }} mm</td>
            </tr>
            <tr>
              <td>机身厚度</td>
              <td>{{ phone_size.thickness_avg }} mm</td>
              <td>{{ phone_size.thickness_med }} mm</td>
            </tr>
            <tr>
              <td>机身长度</td>
              <td>{{ phone_size.length_avg }} mm</td>
              <td>{{ phone_size.length_med }} mm</td>
            </tr>
            <tr>
              <td>裸机重量</td>
              <td>{{ phone_size.weight_avg }} g</td>
              <td>{{ phone_size.weight_med }} g</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="column is-full uniform-height" id="apple_sales_star"></div>
  <div class="column is-full uniform-height" id="mi_sales_star"></div>
  <div class="column is-full uniform-height" id="hw_sales_star"></div>
  <div class="column is-full uniform-height" id="honor_sales_star"></div>
  <div class="column is-full uniform-height" id="oppo_sales_star"></div>
  <div class="column is-full uniform-height" id="vivo_sales_star"></div>
  <div class="column is-half uniform-height" id="mi_percentage"></div>
  <div class="column is-half uniform-height" id="vivo_percentage"></div>
  <div class="column is-half uniform-height" id="oppo_percentage"></div>
  <div class="column is-full more-height" id="soc"></div>
  <div class="column is-half uniform-height" id="soc_mfrs"></div>
  <div class="column is-half uniform-height" id="feature_phone_soc_per"></div>
  <div class="column is-half uniform-height" id="as_star"></div>
  <div class="column is-half uniform-height" id="exynos_star"></div>
  <div class="column is-full uniform-height" id="snapdragon_star"></div>
  <div class="column is-full uniform-height" id="kirin_star"></div>
  <div class="column is-full uniform-height" id="mtk_star"></div>
  <div class="column is-full uniform-height" id="unisoc_star"></div>
</div>
{% endblock %}

{% block js %}
<script>
document.getElementById("phone_url").classList.add("is-active");
</script>

<script>
// 手机销量排行横向条形图
let phone_dom = document.getElementById("phone");
let phone_chart = echarts.init(phone_dom);
let phone_option = {
  title: {
    text: "手机销量排行",
    subtext: "数据来自京东和苏宁 (下滑查看更多机型)",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {
      type: "shadow"
    }
  },
  dataZoom: [
    {
      type: "slider",
      yAxisIndex: 0,
      zoomLock: true,
      width: 10,
      right: 10,
      top: 70,
      bottom: 20,
      start: 99,
      end: 100,
      handleSize: 0,
      showDetail: false,
    },
    {
      type: "inside",
      yAxisIndex: 0,
      start: 99,
      end: 100,
      zoomOnMouseWheel: false,
      moveOnMouseMove: true,
      moveOnMouseWheel: true
    }
  ],
  legend: {
    data: ["销量(台)"]
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: {
    type: "value",
    axisLabel: {
      formatter: "{value} 台"
    },
    min: 0,
  },
  yAxis: {
    type: "category",
    data: {{ phone_name | tojson }},
  },
  series: [
    {
      name: "销量(台)",
      type: "bar",
      data: {{ phone_count | tojson }}
    }
  ]
};
phone_chart.setOption(phone_option);
</script>

<script>
// 电商平台数据源总览多Y轴柱状图
let platform_dom = document.getElementById("platform");
let platform_chart = echarts.init(platform_dom);
let platform_option = {
  title: {
    text: "电商平台数据源总览"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {
      type: "cross"
    }
  },
  grid: {
    right: "20%"
  },
  legend: {
    data: ["总销量", "商品数量", "官方自营销量占比", "非官方自营销量占比"]
  },
  xAxis: [
    {
      type: "category",
      axisPointer: {
        type: "shadow"
      },
      data: {{ platform_source | tojson }}
    }
  ],
  yAxis: [
    {
      type: "value",
      name: "总销量",
      position: "left",
      axisLine: {
        show: true,
        lineStyle: {
          color: "#5470C6"
        }
      },
      axisLabel: {
        formatter: "{value} 万台"
      }
    },
    {
      type: "value",
      name: "商品数量",
      position: "right",
      axisLine: {
        show: true,
        lineStyle: {
          color: "#EE6666"
        }
      },
      axisLabel: {
        formatter: "{value} 件"
      }
    },
    {
      type: "value",
      name: "销量百分比",
      min: 0,
      max: 100,
      position: "right",
      offset: 80,
      axisLine: {
        show: true,
        lineStyle: {
          color: "#91CC75"
        }
      },
      axisLabel: {
        formatter: "{value} %"
      }
    },
  ],
  series: [
    {
      name: "总销量",
      type: "bar",
      data: {{ platform_tc | tojson }}
    },
    {
      name: "商品数量",
      type: "bar",
      yAxisIndex: 1,
      data: {{ platform_cc | tojson }}
    },
    {
      name: "官方自营销量占比",
      type: "bar",
      yAxisIndex: 2,
      data: {{ platform_sp | tojson }}
    },
    {
      name: "非官方自营销量占比",
      type: "bar",
      yAxisIndex: 2,
      data: {{ platform_nsp | tojson }}
    },
  ]
};
platform_chart.setOption(platform_option);
</script>

<script>
// 苹果手机销量明星柱状图
let apple_sales_star_dom = document.getElementById("apple_sales_star");
let apple_sales_star_chart = echarts.init(apple_sales_star_dom);
let apple_sales_star_option = {
  title: {
    text: "苹果手机销量明星",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ apple_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} 万台"
      }
    }
  ],
  series: [
    {
      name: "销量",
      type: "bar",
      barWidth: "60%",
      data: {{ apple_mt | tojson }}
    }
  ]
};
apple_sales_star_chart.setOption(apple_sales_star_option);
</script>

<script>
// 小米手机销量明星柱状图
let mi_sales_star_dom = document.getElementById("mi_sales_star");
let mi_sales_star_chart = echarts.init(mi_sales_star_dom);
let mi_sales_star_option = {
  title: {
    text: "小米手机销量明星",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ mi_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} 万台"
      }
    }
  ],
  series: [
    {
      name: "销量",
      type: "bar",
      barWidth: "60%",
      data: {{ mi_mt | tojson }}
    }
  ]
};
mi_sales_star_chart.setOption(mi_sales_star_option);
</script>

<script>
// 华为手机销量明星柱状图
let hw_sales_star_dom = document.getElementById("hw_sales_star");
let hw_sales_star_chart = echarts.init(hw_sales_star_dom);
let hw_sales_star_option = {
  title: {
    text: "华为手机销量明星",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ hw_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} 万台"
      }
    }
  ],
  series: [
    {
      name: "销量",
      type: "bar",
      barWidth: "60%",
      data: {{ hw_mt | tojson }}
    }
  ]
};
hw_sales_star_chart.setOption(hw_sales_star_option);
</script>

<script>
// 荣耀手机销量明星柱状图
let honor_sales_star_dom = document.getElementById("honor_sales_star");
let honor_sales_star_chart = echarts.init(honor_sales_star_dom);
let honor_sales_star_option = {
  title: {
    text: "荣耀手机销量明星",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ honor_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} 万台"
      }
    }
  ],
  series: [
    {
      name: "销量",
      type: "bar",
      barWidth: "60%",
      data: {{ honor_mt | tojson }}
    }
  ]
};
honor_sales_star_chart.setOption(honor_sales_star_option);
</script>

<script>
// OPPO手机销量明星柱状图
let oppo_sales_star_dom = document.getElementById("oppo_sales_star");
let oppo_sales_star_chart = echarts.init(oppo_sales_star_dom);
let oppo_sales_star_option = {
  title: {
    text: "OPPO手机销量明星",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ oppo_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} 万台"
      }
    }
  ],
  series: [
    {
      name: "销量",
      type: "bar",
      barWidth: "60%",
      data: {{ oppo_mt | tojson }}
    }
  ]
};
oppo_sales_star_chart.setOption(oppo_sales_star_option);
</script>

<script>
// vivo手机销量明星柱状图
let vivo_sales_star_dom = document.getElementById("vivo_sales_star");
let vivo_sales_star_chart = echarts.init(vivo_sales_star_dom);
let vivo_sales_star_option = {
  title: {
    text: "vivo手机销量明星",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ vivo_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} 万台"
      }
    }
  ],
  series: [
    {
      name: "销量",
      type: "bar",
      barWidth: "60%",
      data: {{ vivo_mt | tojson }}
    }
  ]
};
vivo_sales_star_chart.setOption(vivo_sales_star_option);
</script>

<script>
// 小米与子品牌红米销量占比饼图
let mi_percentage_dom = document.getElementById("mi_percentage");
let mi_percentage_chart = echarts.init(mi_percentage_dom);
let mi_percentage_option = {
  title: {
    text: "小米集团旗下各个品牌销量占总销量的百分比",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "品牌",
      type: "pie",
      radius: "50%",
      data: {{ mi_per | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
mi_percentage_chart.setOption(mi_percentage_option);
</script>

<script>
// vivo与子品牌iQOO销量占比饼图
let vivo_percentage_dom = document.getElementById("vivo_percentage");
let vivo_percentage_chart = echarts.init(vivo_percentage_dom);
let vivo_percentage_option = {
  title: {
    text: "vivo集团旗下各个品牌销量占总销量的百分比",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "品牌",
      type: "pie",
      radius: "50%",
      data: {{ vivo_per | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
vivo_percentage_chart.setOption(vivo_percentage_option);
</script>

<script>
// OPPO与子品牌realme和一加的销量占比饼图
let oppo_percentage_dom = document.getElementById("oppo_percentage");
let oppo_percentage_chart = echarts.init(oppo_percentage_dom);
let oppo_percentage_option = {
  title: {
    text: "OPPO集团旗下各个品牌销量占总销量的百分比",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "品牌",
      type: "pie",
      radius: "50%",
      data: {{ oppo_per | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
oppo_percentage_chart.setOption(oppo_percentage_option);
</script>

<script>
// SoC销量排行横向条形图
let soc_dom = document.getElementById("soc");
let soc_chart = echarts.init(soc_dom);
let soc_option = {
  title: {
    text: "SoC销量排行",
    subtext: "数据来自京东和苏宁 (基于手机销量计算) (下滑查看更多型号)",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {
      type: "shadow"
    }
  },
  dataZoom: [
    {
      type: "slider",
      yAxisIndex: 0,
      zoomLock: true,
      width: 10,
      right: 10,
      top: 70,
      bottom: 20,
      start: 92,
      end: 100,
      handleSize: 0,
      showDetail: false,
    },
    {
      type: "inside",
      yAxisIndex: 0,
      start: 92,
      end: 100,
      zoomOnMouseWheel: false,
      moveOnMouseMove: true,
      moveOnMouseWheel: true
    }
  ],
  legend: {
    data: ["销量(片)"]
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: {
    type: "value",
    axisLabel: {
      formatter: "{value} 片"
    },
    min: 0,
  },
  yAxis: {
    type: "category",
    data: {{ soc_name | tojson }},
  },
  series: [
    {
      name: "销量(片)",
      type: "bar",
      data: {{ soc_count | tojson }}
    }
  ]
};
soc_chart.setOption(soc_option);
</script>

<script>
// SoC制造商销量占比饼图
let soc_mfrs_dom = document.getElementById("soc_mfrs");
let soc_mfrs_chart = echarts.init(soc_mfrs_dom);
let soc_mfrs_option = {
  title: {
    text: "不同SoC制造商的芯片销量占全部手机销量的百分比",
    subtext: "基于手机销量统计",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "SoC制造商",
      type: "pie",
      radius: "50%",
      data: {{ soc_mfrs | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
soc_mfrs_chart.setOption(soc_mfrs_option);
</script>

<script>
// 苹果A系列SoC销量明星柱状图
let as_star_dom = document.getElementById("as_star");
let as_star_chart = echarts.init(as_star_dom);
let as_star_option = {
  title: {
    text: "苹果A系列SoC销量明星",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ as_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} 万片"
      }
    }
  ],
  series: [
    {
      name: "销量(片)",
      type: "bar",
      barWidth: "60%",
      data: {{ as_mt | tojson }}
    }
  ]
};
as_star_chart.setOption(as_star_option);
</script>

<script>
// 紫光展锐SoC销量明星柱状图
let unisoc_star_dom = document.getElementById("unisoc_star");
let unisoc_star_chart = echarts.init(unisoc_star_dom);
let unisoc_star_option = {
  title: {
    text: "紫光展锐SoC销量明星",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ unisoc_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} 万片"
      }
    }
  ],
  series: [
    {
      name: "销量(片)",
      type: "bar",
      barWidth: "60%",
      data: {{ unisoc_mt | tojson }}
    }
  ]
};
unisoc_star_chart.setOption(unisoc_star_option);
</script>

<script>
// 三星猎户座SoC销量明星柱状图
let exynos_star_dom = document.getElementById("exynos_star");
let exynos_star_chart = echarts.init(exynos_star_dom);
let exynos_star_option = {
  title: {
    text: "三星猎户座SoC销量明星",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ exynos_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} 万片"
      }
    }
  ],
  series: [
    {
      name: "销量(片)",
      type: "bar",
      barWidth: "60%",
      data: {{ exynos_mt | tojson }}
    }
  ]
};
exynos_star_chart.setOption(exynos_star_option);
</script>

<script>
// 高通骁龙SoC销量明星柱状图
let snapdragon_star_dom = document.getElementById("snapdragon_star");
let snapdragon_star_chart = echarts.init(snapdragon_star_dom);
let snapdragon_star_option = {
  title: {
    text: "高通骁龙SoC销量明星",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ snapdragon_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} 万片"
      }
    }
  ],
  series: [
    {
      name: "销量(片)",
      type: "bar",
      barWidth: "60%",
      data: {{ snapdragon_mt | tojson }}
    }
  ]
};
snapdragon_star_chart.setOption(snapdragon_star_option);
</script>

<script>
// 海思麒麟SoC销量明星柱状图
let kirin_star_dom = document.getElementById("kirin_star");
let kirin_star_chart = echarts.init(kirin_star_dom);
let kirin_star_option = {
  title: {
    text: "海思麒麟SoC销量明星",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ kirin_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} 万片"
      }
    }
  ],
  series: [
    {
      name: "销量(片)",
      type: "bar",
      barWidth: "60%",
      data: {{ kirin_mt | tojson }}
    }
  ]
};
kirin_star_chart.setOption(kirin_star_option);
</script>

<script>
// 联发科SoC销量明星柱状图
let mtk_star_dom = document.getElementById("mtk_star");
let mtk_star_chart = echarts.init(mtk_star_dom);
let mtk_star_option = {
  title: {
    text: "联发科SoC销量明星",
    left: "5%"
  },
  tooltip: {
    trigger: "axis",
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: "shadow"        // 默认为直线，可选为："line" | "shadow"
    }
  },
  grid: {
    left: "3%",
    right: "4%",
    bottom: "3%",
    containLabel: true
  },
  xAxis: [
    {
      type: "category",
      data: {{ mtk_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: "value",
      axisLabel: {
        formatter: "{value} 万片"
      }
    }
  ],
  series: [
    {
      name: "销量(片)",
      type: "bar",
      barWidth: "60%",
      data: {{ mtk_mt | tojson }}
    }
  ]
};
mtk_star_chart.setOption(mtk_star_option);
</script>

<script>
// 功能机SoC制造商占比饼图
let fpsp_dom = document.getElementById("feature_phone_soc_per");
let fpsp_chart = echarts.init(fpsp_dom);
let fpsp_option = {
  title: {
    text: "不同功能机SoC制造商的芯片销量占功能机总销量的百分比",
    subtext: "基于手机销量统计",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "品牌",
      type: "pie",
      radius: "50%",
      data: {{ fpsp | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
fpsp_chart.setOption(fpsp_option);
</script>

<script>
// 智能手机不同价位段与销量分布饼图
let ppas_sp_dom = document.getElementById("ppas_sp");
let ppas_sp_chart = echarts.init(ppas_sp_dom);
let ppas_sp_option = {
  title: {
    text: "不同价位段内的智能手机销量占智能手机总销量的百分比",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "销量占比",
      type: "pie",
      radius: "50%",
      data: {{ ppas_sp | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
ppas_sp_chart.setOption(ppas_sp_option);
</script>

<script>
// 功能机不同价位段与销量分布饼图
let ppas_fp_dom = document.getElementById("ppas_fp");
let ppas_fp_chart = echarts.init(ppas_fp_dom);
let ppas_fp_option = {
  title: {
    text: "不同价位段内的功能机销量占功能机总销量的百分比",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "销量占比",
      type: "pie",
      radius: "50%",
      data: {{ ppas_fp | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
ppas_fp_chart.setOption(ppas_fp_option);
</script>

<script>
// 智能手机在2000元以下的品牌销量占比饼图
let ppab_b2k_dom = document.getElementById("ppab_b2k");
let ppab_b2k_chart = echarts.init(ppab_b2k_dom);
let ppab_b2k_option = {
  title: {
    text: "2000元以下的智能手机中不同品牌的手机销量占总销量的百分比",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "销量占比",
      type: "pie",
      radius: "50%",
      data: {{ ppab_b2k | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
ppab_b2k_chart.setOption(ppab_b2k_option);
</script>

<script>
// 智能手机在2000到5000元之间的品牌销量占比饼图
let ppab_2kto5k_dom = document.getElementById("ppab_2kto5k");
let ppab_2kto5k_chart = echarts.init(ppab_2kto5k_dom);
let ppab_2kto5k_option = {
  title: {
    text: "2000到5000元之间的智能手机中不同品牌的手机销量占总销量的百分比",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "销量占比",
      type: "pie",
      radius: "50%",
      data: {{ ppab_2kto5k | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
ppab_2kto5k_chart.setOption(ppab_2kto5k_option);
</script>

<script>
// 智能手机在5000元以上的品牌销量占比饼图
let ppab_a5k_dom = document.getElementById("ppab_a5k");
let ppab_a5k_chart = echarts.init(ppab_a5k_dom);
let ppab_a5k_option = {
  title: {
    text: "5000元以上的智能手机中不同品牌的手机销量占总销量的百分比",
    left: "center"
  },
  tooltip: {
    trigger: "item"
  },
  legend: {
    orient: "vertical",
    left: "left",
  },
  series: [
    {
      name: "销量占比",
      type: "pie",
      radius: "50%",
      data: {{ ppab_a5k | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: "rgba(0, 0, 0, 0.5)"
        }
      }
    }
  ]
};
ppab_a5k_chart.setOption(ppab_a5k_option);
</script>
{% endblock %}