{% extends "base.html" %}
{% block main %}
<div class="columns is-multiline">
  <div class="column is-half uniform-height" id="total">
    <div class="card is-shadowless">
      <header class="card-header is-shadowless">
        <p class="card-header-title">
          <span>无线耳机销售数据总览</span>
        </p>
      </header>
      <div class="card-content">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>项目</th>
              <th>数量</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>总销量</td>
              <td>{{ total_tc }} 万件</td>
            </tr>
            <tr>
              <td>商品数量</td>
              <td>{{ total.commodity_count }} 件</td>
            </tr>
            <tr>
              <td>品牌数量</td>
              <td>{{ total.brand_count }} 个</td>
            </tr>
            <tr>
              <td>机型数量</td>
              <td>{{ total.model_count }} 种</td>
            </tr>
            <tr>
              <td>数据源</td>
              <td>京东, 苏宁, 小米有品, 网易严选, 小米商城, 华为商城, 荣耀商城, vivo商城, 欢太商城(OPPO集团官方商城)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="column is-half uniform-height" id="wh_self_per"></div>
  <div class="column is-full more-height" id="wh"></div>
  <div class="column is-half uniform-height" id="wh_brand"></div>
  <div class="column is-half uniform-height" id="wh_pas"></div>
  <div class="column is-half uniform-height" id="wh_pab_b2h"></div>
  <div class="column is-half uniform-height" id="wh_pab_2hto9h"></div>
  <div class="column is-half uniform-height" id="wh_pab_a9h"></div>
  <div class="column is-half uniform-height" id="apple_sales_star"></div>
  <div class="column is-half uniform-height" id="enkor_sales_star"></div>
  <div class="column is-half uniform-height" id="hw_sales_star"></div>
  <div class="column is-full uniform-height" id="edifier_sales_star"></div>
  <div class="column is-full uniform-height" id="mi_sales_star"></div>
  <div class="column is-full uniform-height" id="sony_sales_star"></div>
  <div class="column is-full uniform-height" id="bose_sales_star"></div>
</div>
{% endblock %}

{% block js %}
<script>
document.getElementById("wh_url").classList.add("is-active");
</script>

<script>
// 官方自营与非官方自营销量比例柱状图
let wh_self_per_dom = document.getElementById("wh_self_per");
let wh_self_per_chart = echarts.init(wh_self_per_dom);
let wh_self_per_option = {
  title: {
    text: "官方自营与非官方自营销量占比",
    left: '5%'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    }
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  xAxis: [
    {
      type: 'category',
      data: ['官方自营', '非官方自营'],
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: 'value',
      min: 0,
      max: 100,
      axisLabel: {
        formatter: '{value} %'
      }
    }
  ],
  series: [
    {
      name: '销量',
      type: 'bar',
      barWidth: '60%',
      data: [{{ wh_self_per.self_percentage }}, {{ wh_self_per.non_self_percentage }}]
    }
  ]
};
wh_self_per_chart.setOption(wh_self_per_option);
</script>

<script>
// 无线耳机销量排行横向条形图
let wh_dom = document.getElementById("wh");
let wh_chart = echarts.init(wh_dom);
let wh_option = {
  title: {
    text: '无线耳机销量排行',
    left: '5%'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      type: 'shadow'
    }
  },
  dataZoom: [
    {
      type: 'slider',
      yAxisIndex: 0,
      zoomLock: true,
      width: 10,
      right: 10,
      top: 70,
      bottom: 20,
      start: 99.8,
      end: 100,
      handleSize: 0,
      showDetail: false,
    },
    {
      type: 'inside',
      yAxisIndex: 0,
      start: 99.8,
      end: 100,
      zoomOnMouseWheel: false,
      moveOnMouseMove: true,
      moveOnMouseWheel: true
    }
  ],
  legend: {
    data: ['销量(件)']
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  xAxis: {
    type: 'value',
    axisLabel: {
      formatter: '{value} 件'
    },
    min: 0,
  },
  yAxis: {
    type: 'category',
    data: {{ wh_name | tojson }},
  },
  series: [
    {
      name: '销量(件)',
      type: 'bar',
      data: {{ wh_count | tojson }}
    }
  ]
};
wh_chart.setOption(wh_option);
</script>

<script>
// 品牌销量占比饼图
let wh_brand_dom = document.getElementById("wh_brand");
let wh_brand_chart = echarts.init(wh_brand_dom);
let wh_brand_option = {
  title: {
    text: '不同品牌的无线耳机销量占所有无线耳机销量的百分比',
    left: 'center'
  },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    left: 'left',
  },
  series: [
    {
      name: '品牌',
      type: 'pie',
      radius: '50%',
      data: {{ wh_brand | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};
wh_brand_chart.setOption(wh_brand_option);
</script>

<script>
// 无线耳机不同价格区间与销量分布饼图
let wh_pas_dom = document.getElementById("wh_pas");
let wh_pas_chart = echarts.init(wh_pas_dom);
let wh_pas_option = {
  title: {
    text: '不同价格区间内的无线耳机销量占无线耳机总销量的百分比',
    left: 'center'
  },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    left: 'left',
  },
  series: [
    {
      name: '销量占比',
      type: 'pie',
      radius: '50%',
      data: {{ wh_pas | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};
wh_pas_chart.setOption(wh_pas_option);
</script>

<script>
// 无线耳机在200元以下的品牌销量占比饼图
let wh_pab_b2h_dom = document.getElementById("wh_pab_b2h");
let wh_pab_b2h_chart = echarts.init(wh_pab_b2h_dom);
let wh_pab_b2h_option = {
  title: {
    text: '200元以下的无线耳机中不同品牌的无线耳机销量占总销量的百分比',
    left: 'center'
  },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    left: 'left',
  },
  series: [
    {
      name: '销量占比',
      type: 'pie',
      radius: '50%',
      data: {{ wh_pab_b2h | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};
wh_pab_b2h_chart.setOption(wh_pab_b2h_option);
</script>

<script>
// 无线耳机在200元到900元之间的品牌销量占比饼图
let wh_pab_2hto9h_dom = document.getElementById("wh_pab_2hto9h");
let wh_pab_2hto9h_chart = echarts.init(wh_pab_2hto9h_dom);
let wh_pab_2hto9h_option = {
  title: {
    text: '200元到900元之间的无线耳机中不同品牌的无线耳机销量占总销量的百分比',
    left: 'center'
  },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    left: 'left',
  },
  series: [
    {
      name: '销量占比',
      type: 'pie',
      radius: '50%',
      data: {{ wh_pab_2hto9h | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};
wh_pab_2hto9h_chart.setOption(wh_pab_2hto9h_option);
</script>

<script>
// 无线耳机在900元以上的品牌销量占比饼图
let wh_pab_a9h_dom = document.getElementById("wh_pab_a9h");
let wh_pab_a9h_chart = echarts.init(wh_pab_a9h_dom);
let wh_pab_a9h_option = {
  title: {
    text: '900元以上的无线耳机中不同品牌的无线耳机销量占总销量的百分比',
    left: 'center'
  },
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    left: 'left',
  },
  series: [
    {
      name: '销量占比',
      type: 'pie',
      radius: '50%',
      data: {{ wh_pab_a9h | tojson }}.sort(function (a, b) {return b.value - a.value}),
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)'
        }
      }
    }
  ]
};
wh_pab_a9h_chart.setOption(wh_pab_a9h_option);
</script>

<script>
// 苹果无线耳机销量明星柱状图
let apple_sales_star_dom = document.getElementById("apple_sales_star");
let apple_sales_star_chart = echarts.init(apple_sales_star_dom);
let apple_sales_star_option = {
  title: {
    text: "苹果无线耳机销量明星",
    left: '5%'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    }
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  xAxis: [
    {
      type: 'category',
      data: {{ apple_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} 万件'
      }
    }
  ],
  series: [
    {
      name: '销量',
      type: 'bar',
      barWidth: '60%',
      data: {{ apple_mt | tojson }}
    }
  ]
};
apple_sales_star_chart.setOption(apple_sales_star_option);
</script>

<script>
// ENKOR无线耳机销量明星柱状图
let enkor_sales_star_dom = document.getElementById("enkor_sales_star");
let enkor_sales_star_chart = echarts.init(enkor_sales_star_dom);
let enkor_sales_star_option = {
  title: {
    text: "ENKOR无线耳机销量明星",
    left: '5%'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    }
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  xAxis: [
    {
      type: 'category',
      data: {{ enkor_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} 万件'
      }
    }
  ],
  series: [
    {
      name: '销量',
      type: 'bar',
      barWidth: '60%',
      data: {{ enkor_mt | tojson }}
    }
  ]
};
enkor_sales_star_chart.setOption(enkor_sales_star_option);
</script>

<script>
// 华为无线耳机销量明星柱状图
let hw_sales_star_dom = document.getElementById("hw_sales_star");
let hw_sales_star_chart = echarts.init(hw_sales_star_dom);
let hw_sales_star_option = {
  title: {
    text: "华为无线耳机销量明星",
    left: '5%'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    }
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  xAxis: [
    {
      type: 'category',
      data: {{ hw_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} 万件'
      }
    }
  ],
  series: [
    {
      name: '销量',
      type: 'bar',
      barWidth: '60%',
      data: {{ hw_mt | tojson }}
    }
  ]
};
hw_sales_star_chart.setOption(hw_sales_star_option);
</script>

<script>
// 漫步者无线耳机销量明星柱状图
let edifier_sales_star_dom = document.getElementById("edifier_sales_star");
let edifier_sales_star_chart = echarts.init(edifier_sales_star_dom);
let edifier_sales_star_option = {
  title: {
    text: "漫步者无线耳机销量明星",
    left: '5%'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    }
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  xAxis: [
    {
      type: 'category',
      data: {{ edifier_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} 万件'
      }
    }
  ],
  series: [
    {
      name: '销量',
      type: 'bar',
      barWidth: '60%',
      data: {{ edifier_mt | tojson }}
    }
  ]
};
edifier_sales_star_chart.setOption(edifier_sales_star_option);
</script>

<script>
// 小米无线耳机销量明星柱状图
let mi_sales_star_dom = document.getElementById("mi_sales_star");
let mi_sales_star_chart = echarts.init(mi_sales_star_dom);
let mi_sales_star_option = {
  title: {
    text: "小米无线耳机销量明星",
    left: '5%'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    }
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  xAxis: [
    {
      type: 'category',
      data: {{ mi_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} 万件'
      }
    }
  ],
  series: [
    {
      name: '销量',
      type: 'bar',
      barWidth: '60%',
      data: {{ mi_mt | tojson }}
    }
  ]
};
mi_sales_star_chart.setOption(mi_sales_star_option);
</script>

<script>
// 索尼无线耳机销量明星柱状图
let sony_sales_star_dom = document.getElementById("sony_sales_star");
let sony_sales_star_chart = echarts.init(sony_sales_star_dom);
let sony_sales_star_option = {
  title: {
    text: "索尼无线耳机销量明星",
    left: '5%'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    }
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  xAxis: [
    {
      type: 'category',
      data: {{ sony_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} 万件'
      }
    }
  ],
  series: [
    {
      name: '销量',
      type: 'bar',
      barWidth: '60%',
      data: {{ sony_mt | tojson }}
    }
  ]
};
sony_sales_star_chart.setOption(sony_sales_star_option);
</script>

<script>
// Bose无线耳机销量明星柱状图
let bose_sales_star_dom = document.getElementById("bose_sales_star");
let bose_sales_star_chart = echarts.init(bose_sales_star_dom);
let bose_sales_star_option = {
  title: {
    text: "Bose无线耳机销量明星",
    left: '5%'
  },
  tooltip: {
    trigger: 'axis',
    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
      type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
    }
  },
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  xAxis: [
    {
      type: 'category',
      data: {{ bose_model | tojson }},
      axisTick: {
        alignWithLabel: true
      },
      axisLabel: {
        interval: 0
      }
    }
  ],
  yAxis: [
    {
      type: 'value',
      axisLabel: {
        formatter: '{value} 万件'
      }
    }
  ],
  series: [
    {
      name: '销量',
      type: 'bar',
      barWidth: '60%',
      data: {{ bose_mt | tojson }}
    }
  ]
};
bose_sales_star_chart.setOption(bose_sales_star_option);
</script>
{% endblock %}